.mfp-container .modal {
  background: #2B2E31 !important;
  border-radius: 10px ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none !important;
  color: white !important;
  display: flex;
  align-items: center;
}


